.hero{
    
    
    height: 640px;
    background: #E7816B;
    border-radius: 15px;
    

}
.frame{
    margin-top: 155px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
} 














.title{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    width: 540px;
    height: 165px;
    font-family: 'Jost';
    margin-bottom: 11px;

}

.text-hero{
    
width: 445px;
height: 78px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}


button{
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Jost';
    letter-spacing: 1px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 18px 25px;
}
.btn-frame:hover{
    background: #FFAD9B;
    border-radius: 8px; 
    color: #FFFFFF;
    cursor: pointer;  
}



.phone-frame{
    left: 50px;
    position: relative;
    width: 640px;
    height: 640px;

}

.frame-photos{
    position: absolute;
    filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569)); 
    margin-top: 139px; 
}
.bacgraund-img{
    position: absolute;
    width: 640px;
    height: 640px;
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
    mix-blend-mode: normal;
    opacity: 0.31;
    transform: matrix(0, -1, -1, 0, 0, 0);
    border-radius: 50%;
    right: 20px;
}